<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="col-12 align-center">
  <div class="text-content">
    
    <h1>Artwork</h1>
    <br />
    <p>Before pursuing philosophy full-time, I studied and taught drawing and painting at the Florence Academy of Art and the University of Missouri. My work has been exhibited at Grenning Gallery, Gillock Gallery, and Sader Braudis Gallery.</p>

    <p>Here are a few of my drawings.</p>
  </div>

  <div class="col-12 scroller-for">
    <div>
      <%= image_tag "1.jpg", class: "featured" %>
    </div>
    <div>
      <%= image_tag "2.jpg", class: "featured" %>
    </div>
    <div>
      <%= image_tag "3.jpg", class: "featured" %>
    </div>
    <div>
      <%= image_tag "4.jpg", class: "featured" %>
    </div>
    <div>
      <%= image_tag "5.jpg", class: "featured" %>
    </div>
    <div>
      <%= image_tag "6.jpg", class: "featured" %>
    </div>
  </div>
  <div class="col-4 offset-1 col-sm-10 scroller-nav">
    <div>
      <%= image_tag "1.jpg", class: "art" %>
    </div>
    <div>
      <%= image_tag "2.jpg", class: "art"  %>
    </div>
    <div>
      <%= image_tag "3.jpg", class: "art" %>
    </div>
    <div>
      <%= image_tag "4.jpg", class: "art" %>
    </div>
    <div>
      <%= image_tag "5.jpg", class: "art" %>
    </div>
    <div>
      <%= image_tag "6.jpg", class: "art" %>
    </div>
  </div>
</div>
