<div class="col-12">
  <div class="text-content">
    <h1>C V</h1>
    <br />
    <div class="col-12 hidden-md-up">
     <div class="small-pic-container text-center">
        <%= image_tag 'SelfPortrait.JPG' %>
      </div>
    </div>
    <br />
    <div class="text-center">
      <%= link_to 'Download CV', home_download_pdf_url %>
    </div>
  </div>
  <div id="cv-images">
    <%= image_tag 'CV1.jpg' %>
    <%= image_tag 'CV2.jpg' %>
    <%= image_tag 'CV3.jpg' %>
  </div>
    
</div>
<script type="text/javascript">
  $(document).on('page:change', function () {
    var sc_project=11447943; 
    var sc_invisible=1; 
    var sc_security="a25a6e75"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
  });
</script>
