<div class="col-12">
  <div class="text-content">
    <h1>C V</h1>
    <br />
    <div class="col-12 d-md-none">
     <div class="small-pic-container text-center">
        <%= image_tag 'SelfPortrait.JPG' %>
      </div>
    </div>
    <br />
    <div class="text-center">
      <%= link_to 'Download CV', home_download_pdf_url %>
    </div>
  </div>
  <div id="cv-images">
    <%= image_tag 'CV1.jpg' %>
    <%= image_tag 'CV2.jpg' %>
    <%= image_tag 'CV3.jpg' %>
    <%= image_tag 'CV4.jpg' %>
  </div>
    
</div>
