<!DOCTYPE html>
<html>
  <head>
    <title>Jessica Keiser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if Rails.env.production? %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-106912977-1', 'auto');
      </script>
    <% end %>
  </head>

  <body>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav ">
          <div id="name-brand">
            <h1><span>J</span>ESSICA <span>K</span>EISER</h1>
          </div>
            
          <div id="portrait-container">
            <%= image_tag 'SelfPortrait.JPG' %>
            <br />
            <p>Self-portrait, charcoal on paper</p>
            <p>keiserjessicalynn@gmail.com</p>
          </div>
        </ul>
      </div>
      <div id="page-content-wrapper">
        <div class="page-content">
          <div id="page-container">
              <nav class="jk-navbar navbar-inverse">
                <%= link_to root_path, :class => 'navlink' do %>
                  <span>H</span>OME
                <% end %>
                <%= link_to home_research_path, :class => 'navlink' do %>
                  <span>R</span>ESEARCH
                <% end %>
                <%= link_to home_teaching_path, :class => 'navlink' do %>
                  <span>T</span>EACHING
                <% end %>
                <%= link_to home_cv_path, :class => 'navlink' do %>
                  <span>C V</span>
                <% end %>
                <%= link_to home_art_path, :class => 'navlink' do %>
                  <span>A</span>RTWORK
                <% end %>
              </nav>

              <div class="current_content">
                <%= yield %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
