<!DOCTYPE html>
<html>
  <head>
    <title>Jessica Keiser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav ">
          <h1>JESSICA KEISER</h1>
          <div id="portrait-container">
            <% unless current_page?(home_art_path) %>
              <%= image_tag 'SelfPortrait.JPG' %>
            <% else current_page?(home_research_path) %>
              <%= image_tag 'prof.jpg' %>
            <% end %>
          </div>
        </ul>
      </div>
      <div id="page-content-wrapper">
        <div class="page-content">
          <div id="page-container">
              <nav class="jk-navbar navbar-inverse">
                    <%= link_to 'Home', root_path %>
                    <%= link_to 'Research', home_research_path %>
                    <%= link_to 'Teaching', home_teaching_path %>
                    <%= link_to 'CV', home_cv_path %>
                    <%= link_to 'Art', home_art_path %>
              </nav>

              <div class="current_content">
                <%= yield %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
